<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <label for="employee_name">employee_age</label>
    <input type="text"class="formControl" placeholder="employee_age" formControlName="employee_age">
    <div *ngIf="submitted && loginForm['controls']['employee_age'].hasError('required')">
      employee_age is required
    </div> 
    <br>
    <label for="employee_age">employee_name</label>
    <input type="text"class="formControl" placeholder="employee_name"formControlName="employee_name">
    <div *ngIf="submitted && loginForm['controls']['employee_age'].hasError('required')">
      employee_name is required
    </div>
    <br>
    <label for="employee_salary">employee_salary</label>
    <input type="text"class="formControl" placeholder="employee_salary"formControlName="employee_salary">
    <div *ngIf="submitted && loginForm['controls']['employee_salary'].hasError('required')">
      employee_salary is required
    </div>
    <br>  
    <button class="btn btn primary"
    type="submit"
    >{{id?'Update':'Submit'}}</button>
  </form> 
  
