<div class="container">
  <button routerLink="/add">add</button>
</div>

<table mat-table [dataSource]="dataSource" class="mat-elevation-z8" style="width:100%">


  <ng-container matColumnDef="employee age">
    <th mat-header-cell *matHeaderCellDef> Employee age </th>
    <td mat-cell *matCellDef="let element"> {{element.employee_age}} </td>
  </ng-container>

  <ng-container matColumnDef="employee name">
    <th mat-header-cell *matHeaderCellDef> Employee name</th>
    <td mat-cell *matCellDef="let element"> {{element.employee_name}} </td>
  </ng-container>

  <ng-container matColumnDef="employee salary">
    <th mat-header-cell *matHeaderCellDef> Employee salary </th>
    <td mat-cell *matCellDef="let element"> {{element.employee_salary}} </td>
  </ng-container>
  <ng-container matColumnDef="Action">
    <th mat-header-cell *matHeaderCellDef> Action</th>
    <td mat-cell *matCellDef="let element"> {{element.Action}}

      <br>
      <button  mat-raised-button (click)="deletePost(element._id)">Delete</button>&nbsp;
     <button mat-raised-button [routerLink]="'/add/'+element._id">update</button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  <td>
     
</table>

<mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"></mat-paginator>   